@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');


.ui-clock{
    width : 100px !important;
}

.cancel-shadow {
	box-shadow: none !important;
}

.label-info{
	background-color: #74a9d8 !important;
	font-color: white !important;
	font-size: 16px !important;
	font-family: 'Merriweather', serif !important;
}

.label {
	display: inline-block !important;
}

.form-control .label {
	margin-top: 0px !important;
}

body {
	font-family: 'Raleway', sans-serif !important;
}




.murPost{
	border: 1px solid #1C6EA4;
	margin-bottom: 20px;
}

.murPost:hover {
	background-color: #1C6EA4;
	color: white;
	cursor: pointer;
}

.murDivSizeG {
	margin-left: 50% !important;
}

.murDivSizeD {
	margin-right: 50% !important;
}

.leBTN {
	
}