<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />




	<h:panelGroup id="bodyPanel" layout="block">
	<h:body>
		<h:outputStylesheet name="bootstrap-4.4.1-dist/css/bootstrap.min.css" />
		<h:outputStylesheet name="css/main.css" />
		
		<f:metadata>
		    <f:viewAction action="#{accueil.isConnect()}" />
		</f:metadata>





		<!-- BODY CORE OF THE PROJECT ! -->
		<center>
			<h1 id="titre1" class="display-4">Redirection ...</h1>
			<h4 id="loginInfo" class="display-4"></h4>
	
		</center>
	
		<!-- Panel Pour Créer les question ! -->
		<p:panel id="questionPanel" widgetVar="questionPanel" visible="false"
			closable="true" toggleable="true">
			<b:container fluid="true">
				<c:if test="#{accueil.getUserID() != 0}">
					<b:row>
						<h:form>
							<h:panelGroup id="reponseForm">
								<b:inputText id="Question" value="#{login.question}"/>
							</h:panelGroup>
							
							
	
	
							<b:inputText id="tagList" tags="true" class="cancel-shadow"
								value="#{login.tag}" style="width: 100% !important;"
								placeholder="Appuie Sur Entrée Pour Valider Ton Tag !" />
							<p:commandButton value="Valider" action="#{login.sendQuestion(accueil.getUserIdNormal())}" update=":murPanel" />
						</h:form>
	
					</b:row>
					<center>
	
						<p:commandButton onclick="changeP()" value="Mur De Question"
							type="button" />
					</center>
				</c:if>
			</b:container>
		</p:panel>
		
	
	
		
		<!-- Panel du mur central ! -->
		<p:panel id="murPanel" widgetVar="murPanel" visible="false"
			closable="true" toggleable="true">
			<b:panel>
				<b:container fluid="true">
					<b:row>
						<b:column medium-screen="2">
						</b:column>
						<b:column medium-screen="8">
							<ui:repeat value="#{myPortlet.getAllPost()}" var="post">
								<h:form id="menuP">
									<div onclick='' style="border: 0px solid #ffffff;">
	
										<b:row class="murPost">
											
	
											<b:column medium-screen="2">
												<ui:repeat value="#{myPortlet.getIMGAccount(post.idUser)}"
													var="imgPost">
													<img src="#{imgPost}" tooltip="Salut je suis une image !"
														style="height: 100px; width: 100px; border-radius: 50%; z-index: 7;" />
												</ui:repeat>
											</b:column>
											<b:column medium-screen="6">
												<b:row>
													<h:link value="#{post.titre}" outcome="post">
														<f:param name="id" value="#{post.id}" />
													</h:link>
												</b:row>
	
												<b:row>
													<h:link value="#{post.contenu}" outcome="post">
														<f:param name="id" value="#{post.id}" />
													</h:link>
												</b:row>
												<b:row>
													<h:link value="#{post.tag}" outcome="post">
														<f:param name="id" value="#{post.id}" />
													</h:link>
												</b:row>
												<b:row>
													<ui:repeat value="#{myPortlet.getNomPrenom(post.idUser)}"
														var="np">
														<p>#{np}</p>
													</ui:repeat>
													<div style="width: 100px;"></div>
													<h:link value="#{post.date}" outcome="post">
														<f:param name="id" value="#{post.id}" />
													</h:link>
												</b:row>
											</b:column>
											<p:commandButton
												actionListener="#{question.writePost(post.id)}"
												value="View"
												onclick='changeNames("#{post.contenu}", #{post.id});'
												style="border: 0px solid white; background: none !important;"
												update=":formID" />
										</b:row>
									</div>
								</h:form>
	
							</ui:repeat>
	
						</b:column>
						<b:column medium-screen="2">
						</b:column>
					</b:row>
				</b:container>
	
	
				<p:commandButton onclick="changeName();" value="Question"
					type="button" />
	
			</b:panel>
		</p:panel>
	
	
		<!-- Panel de consultation d'une question ! -->
		<p:panel id="sujet" widgetVar="sujet" visible="false" closable="true"
			toggleable="true">
			<h:form id="formID">
				
				<ui:repeat value="#{question.getPost()}" var="post">
					<c:if test="#{accueil.getUserIdNormal() == question.getIdAuthorPost()}">
						<b:container fluid="true">
							<div style="float:right;">
								<p:commandButton value="Close" ></p:commandButton>
							<p:commandButton value="Modify" ></p:commandButton>
							</div>
						
						
						</b:container>
					</c:if>
					<ui:repeat value="#{myPortlet.getIMGAccount(post.idUser)}"
						var="imgPost">
						<img src="#{imgPost}" tooltip="Salut je suis une image !"
							style="height: 100px; width: 100px; border-radius: 50%; z-index: 7;" />
					</ui:repeat>
					<h:link value="#{post.contenu}" outcome="post">
						<f:param name="id" value="#{post.id}" />
					</h:link>
					<b:container fluid="true">
							<p:commandButton value="Reply" style="float:right;" onclick="reply()"></p:commandButton>
						
						
						</b:container>
				</ui:repeat>
			</h:form>
	
	
	
	
	
			<center>
				<p:commandButton onclick="changeP()" value="Mur De Question"
					type="button" />
			</center>
		</p:panel>
	
	
		<p:panel id="reply" widgetVar="reply" visible="false" closable="true"
			toggleable="true">
			<p:textEditor widgetVar="replyy" value="#{question.reponse}" height="300" style="margin-bottom:10px"/>
			
			
			
			<center>
				<p:commandButton onclick="changeP();" value="Mur De Question"
					type="button" />
			</center>
			</p:panel>
			
	
	
	
	
	
	
	
		<!-- SCRIPT JS FOR CHANGE PANEL -->
	
		<script>
			var titre = document.getElementById("titre1");
			var titre2 = document.getElementById("titre2");
			var form = document.getElementById("text");
			var page = 1;
			var text = "coucou";
			function changeP() {
				closeAll();
				PF('murPanel').show();
				titre.innerHTML = "Mur De Question";
	
			}
			
			function closeAll(){
				PF('questionPanel').close();
				PF('sujet').close();
				PF('murPanel').close();
				PF('reply').close();
			}
			
			function reply(){
				closeAll();
				PF('reply').show();
			}
			
			function connect(status){
				console.log(status+"----");
			}
			
	
			function changeName() {
				closeAll();
				
				PF('questionPanel').show();
				titre.innerHTML = "Question";
			}
	
			function changeNames(question, id) {
				closeAll();
				PF('sujet').show();
				titre.innerHTML = "Post n°"+id+" : "+question;
				//form.innerHTML = "coucou";
				
			}
			
		</script>
		
		<h:panelGroup id="loginScript">
		<script>
			function login(){
				var lInfo = document.getElementById("loginInfo");
				changeP();
				lInfo.innerHTML = "Connectée avec l'id : #{accueil.getUserID()}";
				console.log("OK");
			}
			
		</script>
		</h:panelGroup>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
		<h:outputScript name="bootstrap-4.4.1-dist/js/bootstrap.min.js" />
		
	</h:body>
	</h:panelGroup>
</f:view>
